<div style="width:100%; height:8vh;"></div>

<div class="head" style="text-align:center;">
  <h3>회원가입</h3>
</div>

<div style="width:100%; height:8vh;"></div>

<div class="row">
  <div class="col-xs-2 col-md-2"></div>
  <div class="col-xs-8 col-md-8">
    <div class="circle2">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/eb/Flag_of_Taliban_(original).svg/2000px-Flag_of_Taliban_(original).svg.png" class="img-circle" style="margin:auto; width:15vh; height:15vh;">
    </div>
  </div>
  <div class="col-xs-2 col-md-2"></div>
</div>

<div style="width:100%; height:8vh;"></div>

<div class="container-fluid input2">

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    
    <div class="field">
      <span class="info_name">ID</span> <%= f.text_field :email, autofocus: true, class: 'info2 ' %> 
    </div>
    
    <div class="field">
      <span class="info_password">비밀번호</span>
      <%= f.password_field :password, autocomplete: "off", class:'info2' %>
    </div>
    
    <div class="field">
      <span class="info_name">이름</span> <%= f.text_field :name, autofocus: true, class: 'info2 ' %> 
    </div>
    <div class="field">
      <span class="info_name">학교</span> <%= f.text_field :school, autofocus: true, class: 'info2 '%> 
    </div>
    <div class="field">
      <span class="info_name">학번</span> <%= f.number_field :student_number, autofocus: true, class: 'info2 '%> 
    </div>
    <div class="field">
      <span class="info_name">학년</span> 
        <select class="select">
          <option selected></option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
        </select> 
    </div>
    <div class="field">
      <span class="info_name">성별</span> 
        <select class="select">
          <option selected></option>
          <option>남</option>
          <option>여</option>
        </select> 
    </div>
    
    <div class="field">
      <span class="info_name">나이</span> 
       <select class="select">
        <option selected></option>
        <% (2..70).each do |x|%>
        <option><%=x%></option>
        <%end%>
      </select> 
    </div>
  
    
  
    <!--div class="field">
      <%#= f.label :password_confirmation %><br />
      <%#= f.password_field :password_confirmation, autocomplete: "off", class:'info yellow',placeholder: "  Password" %>
    </div-->
</div>

<div style="width:100%; height:6vh;"></div>

<div class="row" style="margin:auto; width:80vw; text-align:center; ">
  <div class="col-xs-4 col-sm-4 col-md-4" style="padding-right:10px;">
  </div>
  <div class="col-xs-4 col-sm-4 col-md-4" style="padding:0 !important;">
    <div class="actions infolink2">
    <%= f.submit "JOIN" %>
    </div>
  </div>
  <div class="actions col-xs-4 col-sm-4 col-md-4" style="padding-left:10px;" >
  </div>
</div>
<% end %>










